<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <flexbox gap="30px">
        <a
          class="nav-item nav-link"
          routerLinkActive="active"
          routerLink="template-driven-form"
        >
          Template Driven Form
        </a>
        <a
          class="nav-item nav-link"
          routerLinkActive="active"
          routerLink="reactive-form"
          >Reactive Form
        </a>
      </flexbox>
    </div>
  </div>
</nav>

<div class="router-foo">
  <router-outlet />
</div>
