<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a
        class="nav-item nav-link"
        routerLinkActive="active"
        routerLink="contacts"
        >Contacts</a
      >
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="posts"
        >Posts</a
      >
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="signIn"
        >Sign in</a
      >
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="users"
        >Users</a
      >
    </div>
  </div>
</nav>

<div class="con">
  <router-outlet />
</div>
