<form [formGroup]="myForm" (ngSubmit)="onSubmit()">

  <div formGroupName="userData">
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name">

    <p *ngIf="rfService.getName()?.invalid">name is invalid</p>
    <p *ngIf="rfService.getName()?.valid">name is valid</p>
    <p *ngIf="rfService.getName()?.touched">name is touched</p>

    <label for="username">Username:</label>
    <input type="username" id="username" formControlName="username">
  </div>

  <label for="email">Email:</label>
  <input type="email" id="email" formControlName="email">

  <label for="password">Password:</label>
  <input type="password" id="password" formControlName="password">

  <button type="submit">Submit</button>
</form>